/* Set ltr="Left to right" section for reading content */
html[dir="ltr"] .myAppDemoWT .myCustomButton .sapMBtn {
    margin-right: 0.125rem;
}

/* Set ltr="Right to left" section for reading content */
html[dir="rtl"] .myAppDemoWT .myCustomButton .sapMBtn {
    margin-left: 0.125rem;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}